h1,h2,h3,h4,h5,h6,p a,span{
    line-height: 1.5;
     } 
  
  h1,h2,h3,h4,h5,h6,p, ul, dl {
    margin-bottom: 0;
  }
  
  ul,ol {
    list-style: none;
    padding-left: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .line-through{
      text-decoration: line-through;
  }
  a{
    text-decoration: none !important;
    color: #000;
  }
  
  $font-size-base:1rem;
  .text{
    &-ss{
        font-size: $font-size-base*0.75;//12px
      }
      &-s{
        font-size: $font-size-base*0.875;//14px
      }
    &-m{
      font-size: $font-size-base;//16px
    }
    &-l{
      font-size: $font-size-base*1.25;//20px
     
    }
    &-2xl{
      font-size: $font-size-base*1.5;//24px 
    }
    &-3xl{
      font-size: $font-size-base*1.75;//28px
    }
    &-4xl{
      font-size: $font-size-base*2;//32px
      
    }
    &-5xl{
      font-size: $font-size-base*3;//48px
    }
    }

    @include media-breakpoint-up(sm) {
      .text{
        &-sm-ss{
            font-size: $font-size-base*0.75;//12px
          }
        &-sm-s{
          font-size: $font-size-base*0.875;//14px
        }
      &-sm-m{
        font-size: $font-size-base;//16px
      }
      &-sm-l{
        font-size: $font-size-base*1.25;//20px
       
      }
      &-sm-2xl{
        font-size: $font-size-base*1.5;//24px 
      }
      &-sm-3xl{
        font-size: $font-size-base*1.75;//28px
      }
      &-sm-4xl{
        font-size: $font-size-base*2;//32px
        
      }
      &-sm-5xl{
        font-size: $font-size-base*3;//48px
      }
    }
  }

    
    @include media-breakpoint-up(md) {
      .text{
        &-md-ss{
            font-size: $font-size-base*0.75;//12px
          }
        &-md-s{
          font-size: $font-size-base*0.875;//14px
        }
      &-md-m{
        font-size: $font-size-base;//16px
      }
      &-md-l{
        font-size: $font-size-base*1.25;//20px
       
      }
      &-md-2xl{
        font-size: $font-size-base*1.5;//24px 
      }
      &-md-3xl{
        font-size: $font-size-base*1.75;//28px
      }
      &-md-4xl{
        font-size: $font-size-base*2;//32px
        
      }
      &-md-5xl{
        font-size: $font-size-base*3;//48px
      }
    }
    @include media-breakpoint-up(lg) {
        .text{
            &-lg-ss{
                font-size: $font-size-base*0.75;//12px
              }
            &-lg-s{
              font-size: $font-size-base*0.875;//14px
            }
          &-lg-m{
            font-size: $font-size-base;//16px
          }
          &-lg-l{
            font-size: $font-size-base*1.25;//20px
           
          }
          &-lg-2xl{
            font-size: $font-size-base*1.5;//24px 
          }
          &-lg-3xl{
            font-size: $font-size-base*1.75;//28px
          }
          &-lg-4xl{
            font-size: $font-size-base*2;//32px
            
          }
          &-lg-5xl{
            font-size: $font-size-base*3;//48px
          }
    }
  }
}
.w-48{
  width: 48%;
}