<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
 

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-sm py-5 py-sm-6 align-items-center">
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarhidemenu" aria-controls="navbarhidemenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="material-icons">menu</span>
            </button>
            <!-- 隱藏漢堡選單 -->
            <h1 class="logo py-5 py-sm-6"><a href="index.html">logo</a></h1>
            <div class="collapse navbar-collapse  " id="navbarhidemenu">
              <ul class="navbar-nav ml-auto align-items-sm-center">
                <li class="nav-item  mr-sm-12 ">
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="material-icons align-bottom ">language</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">繁體中文</a>
                      <a class="dropdown-item" href="#">簡體中文</a>
                      <a class="dropdown-item" href="#">English</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item mr-sm-12 ">
                  <a class="nav-link" href="">Sign up</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="login.html">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- navbar結束 -->
  <%- contents %>
  
  <script src="./assets/js/swiper.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"></script>
</body>

</html>